[
    "0502chapter16.md", 
    "0501chapter15.md", 
    "0430chapter14.md", 
    "0429chapter13.md", 
    "0427chapter11.md", 
    "0426chapter10.md", 
    "0425chapter9.md", 
    "0424chapter8.md", 
    "0423chapter7.md", 
    "0422chapter6.md", 
    "0421chapter5.md", 
    "0420chapter4.md", 
    "0418chapter3.md", 
    "0417chapter2.md", 
    "0416chapter1.md", 
    "readme.md", 
    "0428chapter12.md"
]