/*可任意修改样式，或恢复预设值，保存后生效
相对“默认样式”而作的修改会用  红色 标注*/

:root {
    --side-bar-bg-color: #fff;
    --control-text-color: #777;
}

html {
    font-size: 15px;
}

body {
    font-family: Optima-regular, Futura Medium;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

/*此属性为全局*/

.output_wrapper {
    font-size: 15px;
    color: #34495e;
    line-height: 1.9; 
    font-weight:500;
    text-align: left;
    word-spacing: 1px;
    /*更改默认的词间距*/
    letter-spacing: 1px;
    /*更改默认的字符间距*/
    font-family: Optima-regular, Futura Medium;
}

.output_wrapper * {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}

/*段落*/

p {
    margin: 1.5em 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0px;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    margin-top: 19px;
}

h2 {
    font-size: 18px;
    padding-top: 18px;
}

h3 {
    font-size: 17px;
    padding-top: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 1em;
}

ul, ol {
    padding-left: 32px;
}

/*无序列表*/

ul {
    list-style-type: disc; 
}

/*有序列表*/

ol {
    list-style-type: decimal;
}

li { 
    margin-bottom: 0.5em;
}

/*代码块默认size*/

.code_size_default {
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
    word-spacing: 0px;
    letter-spacing: 0px;
}

/*代码块紧凑size*/

.code_size_tight {
    line-height: 15px;
    font-size: 11px;
    font-weight: normal;
    word-spacing: -3px;
    letter-spacing: 0px;
}

/*代码块*/

pre code {
    font-family: Consolas, Inconsolata, Courier, monospace;
    border-radius: 0px;
}

/*引用块*/

blockquote {
    display: block;
    padding: 15px 1rem; 
    margin: 1em 0;
    color: #777;
    border-left: 8px solid #42b983;
    background: rgba(66, 185, 131, .1); 
    overflow: auto;
    -ms-overflow-style: touch;
    word-wrap: normal;
    word-break: normal;
}

blockquote p {
    margin: 0px;

}
blockquote br {
    margin-bottom : 1px;

}

/*超链接*/

a {
    color: #42b983;
    font-weight: 300;
    padding: 0 2px;
    text-decoration: none;
    word-wrap: break-word;
}

/*强调*/

strong {
    font-weight: bold;
}

/*斜体*/

em {
    font-style: italic;
font-weight: 480;
color:black
}

/*删除线*/

del {
    font-style: italic;
}

/*强调的斜体*/

strong em {
    font-weight: bold;
}

/*分隔线*/

hr {
    height: 1px;
    margin: 1.5rem 0px;
    border: none;
    border-top: 1px dashed #A5A5A5;
}

/*行内代码*/

code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: rgb(236, 85, 25);
    background-color: #f8f8f8;
    font-family: Optima-regular, PingFangTC-light;
    font-style: italic;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    /*图片水平居中*/
    margin: 0 0;
    max-width: 100%;
}

/*图片描述文字*/

figcaption {
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 0.7em;
}

/*================表格开始================*/

table {
    display: table;
    width: 80%;
    text-align: center;
}

tbody {
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
}

/*隔行改变行的背景色*/

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th, table tr td {
    font-size: 1em;
    border: 1px solid #CCC;
    padding: 0.5em 1em;
    text-align: left;
}

/*表头的属性*/

table tr th {
    font-weight: bold;
    background-color: rgba(66, 185, 131, .1);
}

/*================表格结束================*/

/*================数学公式开始================*/

.katex-display {
    /*块公式*/
    font-size: 1.22em;
}

.katex {
    /*行内公式*/
    padding: 8px 3px;
}

.katex-display>.katex {
    /*块公式*/
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.katex img {
    /*行内公式对应的图片*/
    display: inline-block;
    vertical-align: middle;
}

/*================数学公式结束================*/

a[href^="#"] sup {
    /*注脚*/
    vertical-align: super;
    margin: 0 2px;
    padding: 1px 3px;
    color: #42b983;
    background: #666666;
    font-size: 0.7em;
}

/*================任务列表开始================*/

.task-list-list {
    list-style-type: none;
}

.task-list-list.checked {
    /*已完成*/
    color: #3e3e3e;
}

.task-list-list.uncheck {
    /*未完成*/
    color: #bfc1bf;
}

.task-list-list .icon_uncheck, .task-list-list .icon_check {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.task-list-list .icon_check:before {
    /*已完成*/
    content: "√";
    border: 2px solid #3e3e3e;
    color: red;
}

.task-list-list .icon_uncheck:before {
    /*未完成*/
    content: "x";
    border: 2px solid #bfc1bf;
    color: #bfc1bf;
}

.task-list-list .icon_check:before, .task-list-list .icon_uncheck:before {
    /*标志框*/
    padding: 2px;
    padding-left: 5px;
    padding-right: 8px;
    border-radius: 5px;
}

/*================任务列表结束================*/

.toc {
    /*总目录*/
    margin-left: 25px;
}

.toc_item {
    /*每条目录*/
    display: block;
}

.toc_left {
    /*每级目录的缩进*/
    margin-left: 25px;
}


