[
    "2020-07-27-3.md", 
    "2020-07-27-2.md", 
    "2020-07-27.md", 
    "2020-07-21.md", 
    "2020-07-19.md", 
    "2020-07-18-2.md", 
    "2020-07-18.md", 
    "2020-07-17.md", 
    "2020-07-16.md", 
    "how to be wrong.md", 
    "5 questions you need to ask yourself constantly.md", 
    "theories of time.md", 
    "what i learned from benjamin franklin.md", 
    "7 simple gifts you can give yourself today.md", 
    "jordan peterson\u7684\u751f\u6d3b\u5341\u4e8c\u6cd5\u5219.md", 
    "6 habits of super learners.md", 
    "10 ways to cheer yourself up when you\u2019re in a bad mood.md", 
    "\u60c5\u5546\u9ad8\u7684\u4eba\u4e0d\u4f1a\u505a\u76844\u4ef6\u4e8b.md"
]